<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Farm Dash</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="customers_page">
				<span class="oi oi-plus" aria-hidden="true"></span> Customers
			</NavLink>
		</div>		
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="employees_page">
				<span class="oi oi-plus" aria-hidden="true"></span> Employees
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="categories_page">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Categories
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="products_page">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Products
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="orders_page">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Orders
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
