@page "/add_category"
@layout DashboardLayout
@using System.Text
@using MudBlazor
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
<MudDialog>
    <DialogContent>
        <EditForm OnInvalidSubmit="@Submit" Model="@category">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="Name">CATEGORY NAME</label>
                <InputText id="Name" class="form-control" @bind-Value="category.Name" />
            </div>
            <div class="form-group mt-2">
                <input class="btn-sm btn-primary" type="submit" @onclick="@Submit" />
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
       
    </DialogActions>
</MudDialog>


@code {
    private Category category = new ();
    private async void Submit()
    {
        var json = Newtonsoft.Json.JsonConvert.SerializeObject(category);
        HttpContent data = new StringContent(json, Encoding.UTF8, "application/json");
        HttpClient httpClient = new HttpClient();
        
        try
        {
            var response = await httpClient.PostAsync("https://farm-web-api.herokuapp.com/api/Categories", data);
        if (response.IsSuccessStatusCode)
        {
            var message = await response.Content.ReadAsStringAsync();
            navigation.NavigateTo("categories_page");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("Error", "Something went wrong!");
        }
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("Error", $"Something went wrong! \n{ex.Message}");
        }
    }
}
